/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

:root {
    /* Primary Colors */
    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 13%);

    /* Neutral Colors */
    --transparentwhite: hsl(0, 0%, 100%);
    --transparentwhiteempty: hsla(0, 0%, 100%, 0%);
    --verylightgray: hsl(0, 0%, 95%);
}

body {
    background-color: var(--verylightgray);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 36pt;
    text-transform: uppercase;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    font-family: 'Lexend Deca';
    font-family: 400;
    text-align: left;
    color: var(--transparentwhite);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    padding-bottom: 15%;
}

img {
    align-items: left;
    margin-left: 15%;
    margin-top: 15%;
}

/* Content Styles */
div.container {
    margin: 0 auto;
    max-width: 375px;
    overflow: hidden;
    border-radius: 10px;
}

div.one {
    background-color: var(--brightorange);
    margin-bottom: 0;
}

div.two {
    background-color: var(--darkcyan);
}

div.three {
    background-color: var(--verydarkcyan);
}

h1.column-title {
    color: var(--transparentwhite);
    font-family: 'Big Shoulders Display';
}
p.column-content {
    color: var(--transparentwhite);
    font-family: 'Lexend Deca';
}

button.column-button {
    background-color: var(--transparentwhite);
    width: 50%;
    margin-left: 15%;
    margin-bottom: 15%;
    border-radius: 30px;
    border: 1px solid transparent;
    font-family: 'Lexend Deca';
    font-size: 16px;
    padding: 10px 10px;
}

button.column-button:hover {
    background-color: var(--transparentwhiteempty);
    color: var(--transparentwhite);
    border-style: solid;
    border-color: var(--transparentwhite);
    cursor: pointer;
}

.btn1 {
    color: var(--brightorange);
}

.btn2 {
    color: var(--darkcyan);
}

.btn3 {
    color: var(--verydarkcyan);
}

/* Desktop Variant */
@media (min-width: 700px) {
    div.container {
        margin: 0 auto;
        max-width: 90%;
        overflow: hidden;
        border-radius: 10px;
        
        /* Change to Row */
        display: flex;
        flex-direction: row;
    }
}
/* Attribution Styles */
.attribution { font-size: 11px; text-align: center; margin-top: 10px; }
.attribution a { color: hsl(228, 45%, 44%); }

